<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cosmic Encounter Card Distribution</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body ng-app="cosmicApp">
    <div ng-controller="cosmicController as CC">

        <div class="mainBody">
          <div>
            <div class="expansions">
              <div class="topHalf">
                <div class="expansion" ng-click="CC.vanilla = !CC.vanilla; CC.updateSet(CC.vanilla, CC.incursion, CC.alliance, CC.dominion)" ng-class="{highlighted: CC.vanilla}">Base Game</div>
                <div class="expansion" ng-click="CC.incursion = !CC.incursion; CC.updateSet(CC.vanilla, CC.incursion, CC.alliance, CC.dominion)" ng-class="{highlighted: CC.incursion}">Incursion</div>
              </div>
              <div class="topHalf">
                <div class="expansion" ng-click="CC.alliance = !CC.alliance; CC.updateSet(CC.vanilla, CC.incursion, CC.alliance, CC.dominion)" ng-class="{highlighted: CC.alliance}">Alliance</div>
                <div class="expansion" ng-click="CC.dominion = !CC.dominion; CC.updateSet(CC.vanilla, CC.incursion, CC.alliance, CC.dominion)" ng-class="{highlighted: CC.dominion}">Dominion</div>
              </div>
            </div>
            <div class="sets4">
              <div class="setOfFour">
                <div class="cardType4" ng-click="CC.allCards(); CC.allCardsBool = true" ng-class="{highlighted: CC.allCardsBool}">
                  All <br />Cards
                </div>
                <div class="cardType4" ng-click="CC.allEncounter(); CC.allEncounterBool = true" ng-class="{highlighted: CC.allEncounterBool}">
                  Encounter <br />Only
                </div>
                <div class="cardType4" ng-click="CC.allCosmic(); CC.allCosmicBool = true" ng-class="{highlighted: CC.allCosmicBool}">
                  Cosmic <br />Deck Only
                </div>
                <div class="cardType4" ng-click="CC.allReward(); CC.allRewardBool = true" ng-class="{highlighted: CC.allRewardBool}">
                  Reward <br />Deck Only
                </div>
              </div>
            </div>
            <div class="sets">
              <div class="setOfThree">
                <div class="cardType" ng-click="CC.attack =!CC.attack" ng-class="{highlighted: CC.attack}">
                  Attack
                </div>
                <div class="cardType" ng-click="CC.negotiate =!CC.negotiate" ng-class="{highlighted: CC.negotiate}">
                  Negotiate
                </div>
                <div class="cardType" ng-click="CC.morph =!CC.morph" ng-class="{highlighted: CC.morph}">
                  Morph
                </div>
              </div>
              <div class="setOfThree">
                <div class="cardType" ng-click="CC.retreat =!CC.retreat" ng-class="{highlighted: CC.retreat}">
                  Retreat
                </div>
                <div class="cardType" ng-click="CC.reinforcement =!CC.reinforcement" ng-class="{highlighted: CC.reinforcement}">
                  Reinforcement
                </div>
                <div class="cardType" ng-click="CC.rift =!CC.rift" ng-class="{highlighted: CC.rift}">
                  Rift
                </div>
              </div>
              <div class="setOfThree">
                <div class="cardType" ng-click="CC.kicker =!CC.kicker" ng-class="{highlighted: CC.kicker}">
                  Kicker
                </div>
                <div class="cardType" ng-click="CC.artifact =!CC.artifact" ng-class="{highlighted: CC.artifact}">
                  Artifact
                </div>
                <div class="cardType" ng-click="CC.intimidate =!CC.intimidate" ng-class="{highlighted: CC.intimidate}">
                  Intimidate
                </div>
              </div>
            </div>

          <table class="card">
            <tr>
              <th>
                Type
              </th>
              <th>
                Value
              </th>
              <th>
                Count
              </th>
              <th>
                Deck
              </th>
            </tr>
            <tr ng-repeat="card in CC.decks | orderBy: ['type', 'value']" ng-show="CC[card.type.toLowerCase()]===true && (CC[card.deck.toLowerCase()]===true || ( card.deck !== 'Cosmic' && card.deck !== 'Reward'));" id="index{{$index}}" ng-click="CC.showDetails($index)">
              <td class="cardQuality">
                {{card.type}}
              </td>
              <td class="cardQuality">
                {{card.value}}
              </td>
              <td class="cardQuality">
                {{card.quantity}}
              </td>
              <td class="cardQuality">
                {{card.deck}}
              </td>
            </tr>
          </table>
          </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="app.js" type="text/javascript"></script>
    <script src="controllers.js" type="text/javascript"></script>
    <script src="services.js" type="text/javascript"></script>
  </body>
</html>
