body{
  background-image: url("images/spaceWall.jpg");
}
div{
  cursor: default;
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
.cardType{
  text-align: center;
  display:inline-block;
  width: 8em;
  border-top: 1px solid black;
  border-left: 1px solid black;
  font-weight: normal;
  opacity: 0.5;
  height: 2em;
  padding-top: 0.75em;
}
.cardType4{
  text-align: center;
  display:inline-block;
  width: 6em;
  border-top: 1px solid black;
  border-left: 1px solid black;
  font-weight: normal;
  opacity: 0.5;
}
.sets{
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  width: 24em;
}
.sets4{
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  width: 24em;
}
.setOfThree{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.setOfFour{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.expansions{
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  width: 24em;

}
.expansion{
  display:inline-block;
  width: 12em;
  border-top: 1px solid black;
  border-left: 1px solid black;
  text-align: center;
  font-size: 2em;
  font-weight: normal;
  opacity: 0.5;
}
.card{
  border: 1px solid black;
  border-collapse: collapse;
}
.cardQuality{
  border: 1px solid black;

}
.mainBody{
  display: flex;
  align-items: center;
  justify-content: center;
}
.topHalf{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.instructions{
  width: 24em;
  background-color: white;
  margin-top: .25em;
}
table{
  width: 24em;
}
.tableHead{
  background-color: white;

}
td{
  height: 2em;
  opacity: 0.9;
}
.defaultDeck{
  background-color: #7F00FF;
  color: white;
}
.vanilla{
  /*color: #ffb347;*/
  background-color: #7F00FF;
}
.incursion{
  background-color: #120A8F;
  color: white;
}
.alliance{
background-color: #ff9933;
}
.dominion{
background-color: 	#6B8E23;
}
.highlighted{
  font-weight: bold;
  opacity: 1;
}
.highlightedCard{
  font-weight: bold;
}
.Attack{
  background-color: #FF3232;
}
.Negotiate{
  background-color: #7CFC00;
}
.Morph{
  background-color: #CC0000;
  color: #99FF00;
}
.Retreat{
  background-color: #00FFFF;
}
.Reinforcement{
  background-color: 	#FF1493;
}
.Rift{
  background-color: #DCDCDC;
}
.Kicker{
  background-color: #FFDE00;
}
.Artifact{
  background-color: #1E90FF;
}
.Intimidate{
  background-color: #696969;
}
.Co{
  background-color: #ffb347;
  color: #7F00FF;
}
.Re{
  background-color: #120A8F;
  color: white;
}
.allCards{
  background-color: lightgrey;
}
.encounterOnly{
  color: #7CFC00;
  background-color: #FF3232;
}
.whiteBack{
  background-color: white;
}
